{% extends 'base.html.twig' %}

{% block title %}Novi - Administration{% endblock %}

{% block stylesheets %}
    <style>
        .container{
            margin: 0;
            display: flex;
        }

        aside{
            display:flex; flex-direction:column; width:20%; margin-left:0; color:white;
        }

        aside a{
            margin-bottom:20px;
        }

        #modules{
            width:100%; margin-left:50px;
        }

        #actions{
            display:flex; justify-content:space-between
        }

        tbody tr:hover{
            background-color: #ccc;
            cursor: pointer;
        }

    </style>
{% endblock %}

{% block body %}
    <aside>
        <a href="{{ path("module_new") }}" class="btn btn-primary">Ajouter un Module</a>
        <a href="{{ path("prof_register") }}" class="btn btn-primary" style="margin-bottom:5px;">Ajouter un Enseignant</a>
        <a href="{{ path("prof_affiche") }}" class="btn btn-info">Afficher les Enseignants</a>
        <a href="{{ path("etudiant_register") }}" class="btn btn-primary" style="margin-bottom:5px;">Ajouter un Etudiant</a>
        <a href="{{ path("etudiant_affiche") }}" class="btn btn-info">Afficher les Etudiants</a>
    </aside>

    <div id="modules">
        <h1>Modules</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Volume horaire TD|TP|CM</th>
                <th>Coefficient</th>
                <th>Enseignant</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for module in modules %}
                <tr>
                    <td><a class="lienMod" href="{{ path('module_controles', {'id': module.id}) }}"></a>{{ module.nom }}</td>
                    <td>{{ module.volHoraireTD }} | {{ module.volHoraireTP }} | {{ module.volHoraireCM }}</td>
                    <td>{{ module.coefficient }}</td>
                    <td>{% if(module.enseignant) %}
                            {{ module.enseignant.prenom }} {{ module.enseignant.nom }}
                        {% else %}
                            Libre
                        {% endif %}
                    </td>
                    <td id="actions">
                        <a class="btn btn-warning" href="{{ path('module_edit', {'id': module.id}) }}">Modifier</a>
                        {{ include('admin/module/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun module trouvé.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function() {

            $('tbody tr').click(function() {
                var elem = $(".lienMod");
                var href = $(this).find(elem).attr("href");
                console.log(href);
                if(href) {
                    window.location = href;
                }
            });

        });
    </script>

{% endblock %}
