{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}
    <h1>Notes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Etudiant</th>
                <th>Note</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note.etudiant.prenom }} {{ note.etudiant.nom }}</td>
                <td>{{ note.note }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('note_edit', {'id': note.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune note trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('controle_index') }}" class="btn btn-secondary">Retour aux contrôles</a>
{% endblock %}
