<h3>Une note a été ajoutée dans le module {{ module }}</h3>

Bonjour {{ prenom }} {{ nom }}, Une note a été ajoutée pour le module {{ module }}. <br><br>

Votre note est de : {{ note }} / {{ max }}.<br><br>

Pour vous connecter, cliquez <a href="http://localhost/index.php/login">ici</a>.<br><br>
