{# templates/emails/registration.html.twig #}
<h3>Votre compte {{ profil }} a été créé</h3>

Bonjour {{ prenom }} {{ nom }}, votre compte {{ profil }} a été créé sur Novi. <br><br>

Votre identifiant est : {{ reponse_username }}.<br>
Votre mot de passe est : {{ reponse_password }}.<br><br>

Pour vous connecter, cliquez <a href="http://localhost/index.php/login">ici</a>.<br><br>

Pensez à noter vos identifiants et votre mot de passe.<br>
Merci.<br><br>

Administrateur de <a href="http://localhost/">Novi</a>