<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Novi - Suivi de Notes{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
        <style>

            .id{
                position: absolute;
                right: 100px;
                top: 16px;
                color: white;
                font-size: 1.2em;
            }

        </style>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom:50px; ">
            <a class="navbar-brand" style="font-size:2em;padding:0" href="{{ path("accueil") }}">Novi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    {% if not app.user %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("security_login") }}">Connexion</a>
                        </li>

                    {% else %}

                        {% if is_granted('ROLE_ADMIN') %}

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("admin_index") }}">Espace Administrateur</a>
                            </li>

                        {% elseif is_granted('ROLE_PROF')%}

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("prof_index") }}">Espace Enseignant</a>
                            </li>

                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("security_logout") }}">Déconnexion</a>
                        </li>

                    {% endif %}
                </ul>
            </div>
        </nav>

        {% if app.user %}

            {% if is_granted('ROLE_PROF') or is_granted('ROLE_ETUDIANT')%}
                <div class="id">
                    <p>Connecté : {{ app.user.prenom }} {{ app.user.nom }}</p>
                </div>

            {% else %}
                <div class="id">
                    <p>Connecté : Administrateur {{ app.user.username }}</p>
                </div>
            {% endif %}

        {% endif %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
